.buttonContainner {
  position: absolute;
  display: flex;
  width: 50vw;
  height: 8vh;
  /* background-color: brown; */
  justify-content: center;
  /* align-items: center; */
  /* margin: auto;
   */
  margin-top: 200px;
}
.button {
  width: 12vw;
  height: 6vh;
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}
